---
import Layout from '@/layouts/layout.astro'
import { Image } from 'astro:assets'

import { getCollection } from 'astro:content'

const posts = (await getCollection('albums')).sort((a, b) =>
  new Date(a.data.release_date) > new Date(b.data.release_date) ? -1 : 1
)
---

<Layout title="Favorite Albums" description="My favorite albums.">
  <div
    class="container mx-auto grid w-full max-w-3xl grid-cols-2 flex-wrap items-center gap-4 px-2 pb-12 pt-4 sm:grid-cols-2 md:px-3 lg:max-w-6xl lg:grid-cols-3 lg:px-4 xl:grid-cols-4"
  >
    {
      posts.map((post: any) => (
        <a href={`/music/${post.slug}`} class="flex flex-col">
          <div transition:name={`record-${post.slug}`}>
            <Image
              class="rounded shadow"
              src={post.data.cover_art_url}
              alt={post.data.album}
              width="400"
              height="400"
            />
          </div>
          <p class="truncate pt-4 font-semibold">{post.data.album}</p>
          <p class="pt-1">{post.data.artist}</p>
        </a>
      ))
    }
  </div>
</Layout>
