---
import { getCollection, render } from "astro:content";
import Layout from "@/layouts/content-layout.astro";
import { Image } from "astro:assets";

export async function getStaticPaths() {
  const posts = await getCollection("movies");
  return posts.map((post) => ({
    params: { slug: post.id.replace(/\.md$/, "") },
    props: { post, cleanSlug: post.id.replace(/\.md$/, "") },
  }));
}

const { post, cleanSlug } = Astro.props;
const { Content } = await render(post);

// TODO: handle director and/or studio better
const director_or_studio = post.data.director ?? post.data.studio;
---

<Layout
  title={post.data.title}
  description={`${post.data.title} - ${director_or_studio}`}
>
  <div class="overflow-hidden border-b border-gray-800 px-6 lg:px-0">
    <div class="mx-auto flex w-fit flex-col md:flex-row">
      <div class="relative mr-32 w-72 py-2 shadow-xl md:w-auto">
        <Image
          src={post.data.cover_art_url}
          alt={cleanSlug}
          width="300"
          height="300"
          class="relative block rounded-md bg-white"
          style={`view-transition-name: transition-${cleanSlug};`}
        />
      </div>
      <div class="flex flex-col justify-center pt-8">
        <h1 class="text-5xl font-bold tracking-tight">
          {post.data.title}
        </h1>
        <p class="mt-3 text-3xl">
          {
            post.data.director && post.data.studio
              ? `${post.data.director} - ${post.data.studio}`
              : director_or_studio
          }
        </p>
        <p class="mt-2 text-lg">
          {post.data.genre[0]} — {post.data.release_date.toDateString()}
        </p>
      </div>
    </div>
  </div>
  <div
    class="md:prose-md prose dark:prose-invert md:prose-lg xl:prose-xl mx-auto px-6 py-2 lg:px-0"
  >
    <Content />
  </div>
</Layout>